<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="https://julyl.github.io/blog">
    <title>julyL的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <link rel="stylesheet" type="text/css" href="/public/lib/editormd/editormd.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" href="/public/lib/theme/zenburn.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <body>
        <div id="container" q-class="show:isCtnShow" style="height: 949px;" class="">
            <canvas id="anm-canvas" class="anm-canvas" width="1027" height="949"></canvas>
            <div class="left-col" q-class="show:isShow">
                <div class="overlay" style="background: #4d4d4d"></div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                        <a href="/" class="profilepic">
                            <img src="http://omj0ol8hw.bkt.clouddn.com/17-7-7/31000481.jpg" class="js-avatar">
                        </a>
                        <hgroup>
                            <h1 class="header-author">
                                <a href="/">julyL</a>
                            </h1>
                        </hgroup>
                        <% if(tags&&tags.length>0){%>
                            <div class="tag-list">
                                <div class="tag-title">标签</div>
                                <% for(var i=0;i<tags.length;i++){%>
                                    <a href="/tag/<%= tags[i].name%>">
                                    <span class="tag-li">
                                        <span class="tag-name"><%= tags[i].name%></span>
                                        <span class="tag-num">(<%= tags[i].number%>)</span>
                                    </span>
                                    </a>
                                <%}%>
                            </div>
                        <%}%>
                        <nav class="header-menu">
                            <ul>
                                <% if(data.admin){ %>
                                    <li style="width: 100%">
                                        <a href="/admin/create">新建</a>
                                    </li>
                                    <%}%>
                                <li>
                                    <a href="/archives">归档</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="header-smart-menu">
                            <a q-on="click: openSlider(e, 'innerArchive')" href="javascript:void(0)">所有文章</a>
                        </nav>
                        <nav class="header-nav">
                            <div class="social">
                                <a class="github" target="_blank" href="https://github.com/julyL" title="github">
                                    <i class="icon-github"></i>
                                </a>
                            </div>
                        </nav>
                    </header>
                </div>
            </div>
            <div class="mid-col hide article-container"  q-class="show:isShow,hide:isShow|isFalse">
                <nav id="mobile-nav">
                    <div class="btnctn js-mobile-btnctn">
                        <div class="slider-trigger list" q-on="click: openSlider(e)">
                            <i class="icon icon-sort"></i>
                        </div>
                    </div>
                    <div class="intrude-less">
                        <header id="header" class="inner">
                            <div class="profilepic">
                                <img src="http://omj0ol8hw.bkt.clouddn.com/17-7-7/31000481.jpg" class="js-avatar">
                            </div>
                            <hgroup>
                                <h1 class="header-author js-header-author">julyL</h1>
                            </hgroup>
                            <p class="header-subtitle">
                                <i class="icon icon-quo-left"></i>随遇而安
                                <i class="icon icon-quo-right"></i>
                            </p>
                            <nav class="header-nav">
                                <div class="social">
                                    <a class="github" target="_blank" href="https://github.com/julyL" title="github">
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                            </nav>
                            <nav class="header-menu js-header-menu">
                                <ul style="width: 50%">
                                    <% if(data.admin){ %>
                                    <li style="width: 100%">
                                        <a href="/admin/create">新建</a>
                                    </li>
                                    <%}%>
                                    <li style="width: 100%">
                                        <a href="/archives">归档</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                    </div>
                    <div class="mobile-mask" style="display: none;" q-show="isShow"></div>
                </nav>
                <% if(layout == 'articleList'){%>
                    <%- include('layout/articleList',data) %>
                <%}else if(layout == 'archives'){%>
                    <%- include('layout/archives',data) %>
                <%}else if(layout == 'article'){%>
                    <%- include('layout/article',data) %>
                <%}else if(layout == 'tag') {%>
                    <%- include('layout/tag',data) %>
                <%}%>
            </div>
        </div>
        <script src="/public/lib/jquery.js"></script>
        <script>
        $(document).ready(function () {
                $('pre code').each(function (i, block) {
                    hljs.highlightBlock(block);
                });
        });
        </script>
    </body>
</html>